.categories-container {
  columns: 3;
}
.categories-container .categories-card {
  break-inside: avoid;
  margin-bottom: 1.4rem;
}
.categories-container .categories-card .categories-card-header {
  width: 100%;
}
.categories-container .categories-card .categories-card-header .categories-card-header-content .categories-header-a {
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  background-image: none;
}
.categories-container .categories-card .categories-card-header .categories-card-header-content .categories-header-a::before {
  content: "📝";
}
.categories-container .categories-card .categories-card-body {
  padding-left: 1.6rem;
  width: 100%;
}
