.tag-container {
  width: 100%;
}
.tag-container .tag-content {
  color: #8c8c8c;
  display: inline-block;
  text-decoration: none;
  font-size: 0.85rem;
  transition: 0.3s;
  font-family: "JetBrains Mono", Lato-Bold, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}
.tag-container .tag-content::before {
  content: "#";
  display: inline-block;
  position: relative;
  left: 8px;
  top: 1px;
}
.tag-content-name {
  text-decoration: none;
  font-size: 0.85rem;
  transition: 0.3s;
  color: #8c8c8c !important;
  font-family: "JetBrains Mono", Lato-Bold, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}
.tag-content-name:hover {
  color: #141c34;
}
.tag-content-length {
  position: relative;
  left: -10px;
  font: italic;
}
